.form {
  border: 2px solid white;
  display: flex;
  flex-direction: column;
  border: 1px solid lightgray;
  border-top: none;
  padding: 1rem;
}

.loader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 40px;
}

.title {
  font-size: 1.375rem;
  margin-bottom: 16px;
}

.message {
  font-size: 1rem;
  padding: 10px;
  margin-bottom: 16px;
}

.label {
  margin-bottom: 0.5rem;
}

.input {
  margin-bottom: 1rem;
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 0.5rem;
  font-size: 1rem;
}

.input:focus {
  outline-color: gray;
}

.password-guide {
  color: darkgray;
  font-size: 0.75rem;
}

.button {
  cursor: pointer;
  margin-top: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.8rem;
  padding-bottom: 00.8rem;
  border: none;
  border-radius: 10px;
  color: white;
  background-color: #cc0000;
  font-weight: bold;
  font-size: 1.125rem;
}

.button:hover {
  background-color: #ff0000;
}

.button:disabled {
  background-color: lightgray;
  color: darkgray;
}
