.message {
  color: white;
  font-size: 1.375rem;
  padding: 2rem 1rem;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.cart-list {
  list-style-type: none;
  padding: 15px;
  color: white;
}

.cart-summary {
  background-color: white;
  padding: 30px;
  margin: 30px 0px;
}

.table {
  background-color: white;
  table-layout: auto;
  width: 100%;
  margin-bottom: 20px;
  font-size: 1.05rem;
  border-spacing: 0px 10px;
}

.subtotal-title,
.tax-title,
.total-title {
  text-align: left;
}

.subtotal-amount,
.tax-amount,
.total-amount {
  text-align: right;
}

.total {
  font-weight: bold;
  font-size: 1.5rem;
}

.button {
  cursor: pointer;
  border: none;
  border-radius: 10px;
  color: white;
  background-color: #cc0000;
  text-transform: uppercase;
  width: 100%;
  height: 40px;
  font-size: 1.125rem;
  font-weight: bold;
}

.button:hover {
  background-color: #ff0000;
}

.button:disabled {
  background-color: lightgray;
  color: darkgray;
}
